<html>
  <head>
    <link rel="stylesheet" type="text/css" href="https://rawgit.com/russmaxdesign/03-bootstrap-kickoff-template-responsive/master/assets/css/bootstrap.min.css">
    
    <link rel="stylesheet" type="text/css" href="https://rawgit.com/russmaxdesign/03-bootstrap-kickoff-template-responsive/master/assets/css/styles.css">

    <!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>

    <!-- main js functions -->
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["Query"]});
      google.setOnLoadCallback(findStudent);

      function findStudent() {
        var cornellid = document.getElementById("cornellid").value;

        var queryString = encodeURIComponent('SELECT B,Z WHERE B='+cornellid);
        var query = new google.visualization.Query('https://docs.google.com/spreadsheets/d/1ryAFMEc1t0H-0xjoi7nkUKkx2IMTfmZSEmKoPwYlD6U/gviz/tq?gid=1376147674&headers=1&tq=' + queryString);

        query.send(handleQueryResponse);

        document.getElementById('discount').innerHTML = 'Not Found';

        document.getElementById('cornellidresult').innerHTML = cornellid;
      }

      function handleQueryResponse(response) {
        if (response.isError()) {
          alert('Error in query: ' + response.getMessage() + ' ' + response.getDetailedMessage());
          return;
        }

        //data
        var data = response.getDataTable().toJSON();
        //json parsed object
        var obj= JSON.parse(data);

        //steps to parse this json
        var output= obj.rows[0].c[1].v;

        if (output==null) {
          output = 'No Entry Found'
        }

        document.getElementById('discount').innerHTML = output;
      }

    </script>

  </head>

  <body>

    <nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
      <div class="container-fluid">

        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <a class="navbar-brand" style="color: red" href="#">Student Discount Finder</a>
        </div>

          <ul class="nav navbar-nav">
            <li><a href="https://docs.google.com/a/cornell.edu/forms/d/10k3k_n7ndfoxgeSRz4LLokfNOL1KVxI5umqms-nSYsM/viewform" target="_blank">New Entry</a></li>
          </ul>
      </div>
    </nav>

    <!-- contents-->

    <div class="container-fluid">

      <div class="row">
        <div class="col-sm-12">
<br />
<br />
          <h3 style="color: red" class="text-center">
          Cornell ID: <input type="text" style="color: #444; width:50%" id="cornellid" value=""><button type="button" onclick="findStudent()" class="btn btn-danger">Search</button></h3>
          <hr>
          <h1 class="text-center"> Search Results </h1>
          <table class="table table-striped">
            <thead>
              <tr>
                <th style="color: red">Cornell ID</th>
                <th style="color: red">Tier</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><div id="cornellidresult" >???</div></td>
                <td><div id="discount">???</div></td>
              </tr>
            </tbody>
          </table>
          <br />
          <hr>
          <h1 class="text-center">Documentation</h1>
          <h3>What Are Tiers?</h3>
          
          <ul>
            <li>Tier 0: Food secure</li>
            <li>Tier 1: Marginal food insecurity</li>
            <li>Tier 2: Moderate food insecurity</li>
            <li>Tier 3: Severe food insecurity</li>
          </ul>
        </div>
      </div>
    </div>

  </body>
</html>
